.home-card-large {
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.home-card-small {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.home-card-medium {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.color1 {
    background-color: #fbf7f7;
}

.color2 {
    background-color: #f1e9e3;
}

.nav-bg {
    transition: 250ms ease;
    background-color: transparent;
}

.nav-bg.scrolled {
    background-color: #fbf7f7;
}

#about-us {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

#about-us h1 {
    font-weight: bold;
    margin-left: 4rem;
    margin-right: 4rem;
}

#about-us h5 {
    margin-left: 4rem;
    margin-right: 4rem;
}

#about-us p {
    margin-left: 4rem;
    margin-right: 4rem;
}

.feature-card {
    position: relative;
    min-width: 16rem;
    max-width: 16rem;
    min-height: 20rem;
    max-height: 20rem;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: white;
}

.img-card {
    position: relative;
    width: 100%;
    min-height: 28rem;
    object-fit: cover;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    filter: brightness(50%);
    transition: transform .2s;
}

.img-card:hover {
    transform: scale(1.05);
    filter: brightness(100%);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.img-card-overlay {
    position: absolute;
    bottom: 10%;
    width: auto;
    padding-left: 1rem;
}

header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

p,
h1,
h2,
h3,
h4,
h5 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.brand-head {
    color: #f0ece3;
}

footer {
    background-color: #f1e9e3;
}

.card {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

[data-text] {
    color: orange;
}

[data-text]::after {
    content: attr(data-text);
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}