/* Placeholder file for your custom settings. */
/* You can get the color scheme variables from https://panr.github.io/terminal-css/ */

:root {
    --background: #1b0f3d;
    --foreground: #ffffff;
    --accent: #dd855c;
}

img {
    margin-left: auto;
    margin-right: auto;
    border: 0;
    padding: 0;
    width: 100%;
    height: auto;
    max-height: 50vh;
    object-fit: contain; /* keeps aspect ratio */
}